<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React with Webpack</title>
    <link type="text/css" href="styles/styles.main.css" rel="stylesheet">
    <link rel="dx-theme" data-theme="dx.generic.dark" href="styles/themes/dx.generic.dark/dx.generic.dark.css" data-active="false" >
    <link rel="dx-theme" data-theme="dx.generic.light" href="styles/themes/dx.generic.light/dx.generic.light.css" data-active="true" >

    <script type="text/javascript">
        var CONTEXT_PATH = '${pageContext.servletContext.contextPath}';
        var WAREHOUSE_ID = '${warehouseId}';
        window['URLFilter'] = '${filter}';
        window['CAMPAIGN_ID'] = '${campaignId}';
        var USER_ID ='${userId}';
    </script>
</head>
<body>
<div id="root"></div>

<script>
    const warehouseId = '<%= locals.warehouseId%>';
    const campaignId = '<%= locals.campaignId%>';
    window['CONTEXT_PATH'] = 'api';
</script>
<!--<script src="./../src/DxDbeRoot.tsx"></script>-->

<%- include('./../dist/views/index.html') %>

</body>
</html>